<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Idea</title>
  </head>
  <body>
    <h2><%= @idea.name %></h2>
    <p>
      <%= @idea.description %><br>
    </p>
    <%= link_to 'Edit', edit_idea_path(@idea) %>
    <%= link_to 'Delete', @idea, method: :delete, data: { confirm: 'Are you sure?' } %>
  </body>
</html>
