<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show User Idea</title>
  </head>
  <body>
    <h2><%= @idea.name %></h2>
    <p>
      <%= @idea.description %><br>
    </p>
      <%= link_to 'Edit', edit_user_idea_path(@idea, @user.id) %>
  </body>
</html>
